{% extends "base.html" %}

{% block content %}
<div class="header">
    <span>@{{ username }}</span>
    <a href="{{ url_for('logout') }}" class="btn btn-small">Logout</a>
</div>

<h2>Your Last 10 Tweets</h2>

{% if tweets %}
    {% for tweet in tweets %}
    <div class="tweet">
        <p class="tweet-text">{{ tweet.text }}</p>
        <div class="tweet-meta">
            <span>{{ tweet.public_metrics.like_count }} likes</span>
            <span>{{ tweet.created_at[:10] }}</span>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No tweets found.</p>
{% endif %}
{% endblock %}
